/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.pixel-perfect-image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.5;
    filter: sepia(0.6);
}

.page {
  background: var(--bg-image) no-repeat center fixed;
  font-family: var(--accent-font, serif);
  background-color: var(--bg-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  display: grid;
  grid-template-columns: 100%;
  margin: 10px 10px 0 10px;
}

.header {
 display: grid;
 grid-template-columns: 1fr;
 grid-template-rows: 1fr minmax(min-content, max-content) 1fr;
 position: relative;
 height: 100vh;
 min-height: 668px;
 block-size: 100vb;
}



.decorated-zone::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  inset-inline-end: 0;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);

}

.decorated-zone::after {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  inset-block-end: 20px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.decorate {
  position: absolute;  
  z-index: -1;
  inset-inline-end: 28px;
  color: var(--accent-color);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}

.decorate::after {
  position: absolute;  
  z-index: -1;
  inset-inline-end: -18px;
  inset-block-start: 8px;
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: var(--accent-color);
  box-shadow: 0px 0px 5px  4px var(--accent-color);
}

.header__theme-menu {
 display: grid;
 justify-content: end;
 align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
  padding-block-start: 18px;
  list-style-type: none;
}

.header__theme-menu-item {

}

.header__theme-menu-button {
  font-family: var(--accent-font, serif);
  color: var(--accent-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: lowercase;
  text-align: center;
  border: none;
  background-color: transparent;
  appearance: none;
  cursor: pointer;
  padding: 1px 13px 4px;
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(50, 49, 45, 0.40);
}

.header__theme-menu-button:focus {
 outline: none;
}

.header__theme-menu-button:focus-visible {
  text-decoration: underline;
  border: none;
  /*border-block-end: 1px solid var(--accent-color);*/
 }

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
  pointer-events: none;
}

.header__theme-menu-button_type_auto {

}

.header__theme-menu-button_type_dark {

}

.header_title, .footer-title {
  color: var(--title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

.header_title {
  justify-self: left;
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 82.5%;
  margin-block-start: 22px;
  margin-block-end: 36px;
}

.header__description {
  justify-self: end;
}

.title-decor {
  background: var(--accent-color);
  color: var(--bg-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
}

.content {
 
}

.content_section_why {
 
  
}

.heading {
  font-weight: 700;
  font-size: 1.125rem;
  font-style: normal;
  line-height: 1.4625rem;
}

.section-title {

}

.content_title {
  color: var(--accent-color);
}

.content_text_block {

}

.content_text_block-item:not(:last-of-type) {
  
}

.content_paragraph {
  color: var(--text-color);
  font-weight: 400;  
}

.title-decor-color {
  background: var(--accent-color);
  color: var(--bg-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
}

a {
  color: inherit;
  text-decoration: none;
  text-shadow: 1px 1px 0 var(--accent-color);
}

.content_section_what {

}

.content_section_how {

}

.content_section_gallery {

}

.gallery-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gallery-box img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  position: relative;
  display: grid;
  align-content: space-evenly;
  block-size: 100vh;
  min-block-size: 667px;
}

.footer-title {
  font-weight: 700;
  text-align: center;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.footer .decorated-zone::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0; 
  width: 1.56488rem;
  height: 1.56244rem;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}  

.footer .decorated-zone::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0; 
  width: 1.56488rem;
  height: 1.56244rem;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}  

