/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background: var(--bg-image) no-repeat center fixed;
  font-family: var(--accent-font, serif);
  background-color: var(--bg-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  display: grid;
  grid-template-columns: 100%;
  gap: 40px;
  inline-size: 100%;
  background-size: cover;
  overflow: auto;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  min-height: 668px;
  padding: 10px;
  align-items: center;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--menu-color);
  border-right: 1px solid var(--menu-color);
  inset-inline: auto 10px;
  inset-block: 10px;
}

.decorated-zone::after {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--menu-color);
  border-left: 1px solid var(--menu-color);
  inset-inline: 10px;
  inset-block: auto 10px;
}

.decorate {
  position: absolute;
  z-index: -1;
  inset-inline-end: 37px;
  inset-block-start: 10px;
  color: var(--accent-color);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}

.decorate::after {
  position: absolute;
  z-index: -1;
  inset-inline-end: -18px;
  inset-block-start: 8px;
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: var(--accent-color);
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}

.header__theme-menu {
  display: grid;
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
}

.header__theme-menu-item {
}

.header__theme-menu-button {
  font-family: var(--accent-font, serif);
  color: var(--menu-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: lowercase;
  text-align: center;
  border: none;
  background-color: transparent;
  appearance: none;
  cursor: pointer;
  padding: 1px 13px 4px;
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(50, 49, 45, 0.4);
}

.header__theme-menu-button:focus {
  outline: none;
  border: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--menu-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--menu-color);
  pointer-events: none;
}

.header__theme-menu-button_type_auto {
}

.header__theme-menu-button_type_dark {
}

.header_title,
.footer-title {
  color: var(--title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

.header_title {
  justify-self: left;
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 82.5%;
}

.header__description {
  justify-self: end;
}

.title-decor {
  background: var(--accent-color);
  color: var(--title-text-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
}

.content {
  display: grid;
  gap: 50px;
  padding-inline: 10px;
}

.content-section {
  display: grid;
  gap: 20px;
}

.heading {
  font-weight: 700;
  font-size: 1.125rem;
  font-style: normal;
  line-height: 1.4625rem;
}

.content_title {
  color: var(--menu-color);
}

.content_text_block {
  display: grid;
  gap: 20px;
}

.content_paragraph {
  color: var(--text-color);
  font-weight: 400;
  padding-block-start: 10px;
}

.title-decor-color {
  background: var(--accent-color);
  color: var(--title-text-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
}

a {
  color: inherit;
  text-decoration: none;
  text-shadow: 1px 1px 0 var(--accent-color);
}

.content_section_gallery {
  display: grid;
  gap: 10px;
}

.gallery-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gallery-box img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  display: grid;
  align-content: space-evenly;
  block-size: 100vh;
  min-block-size: 667px;
}

.footer-title {
  font-weight: 700;
  text-align: center;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.footer .decorated-zone::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1.56488rem;
  height: 1.56244rem;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.footer .decorated-zone::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 1.56488rem;
  height: 1.56244rem;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

@media (width >= 768px) {
  .page {
    gap: 60px;
  }

  .header {
    padding: 20px;
  }

  .decorated-zone::before {
    inset-inline: auto 20px;
    inset-block: 20px;
  }

  .decorated-zone::after {
    inset-inline: 20px;
    inset-block: auto 20px;
  }

  .decorate {
    inset-inline-end: 50px;
    inset-block-start: 20px;
  }

  .header_title {
    text-align: left;
    margin-inline: -20px;
  }

  .header__description {
    width: calc(50vw - 20px);
  }

  .content {
    display: flex;
    flex-direction: column;
    padding-inline: 20px;
    gap: 80px;
  }

  .content_section_why,
  .content_section_how {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .content_section_what {
    display: grid;
    grid-template-columns: 1fr;
  }

  .section_title {
    max-width: 32%;
  }

  .content_section_gallery {
    gap: 20px;
  }

  .gallery-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .horisontal__picture {
    grid-column-start: span 2;
  }

  .vertical__picture {
    grid-row-start: span 2;
  }
}

@media (width >= 1024px) {
  .header_title,
  .footer-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  .header_title {
    text-shadow: 4px 4px 0 var(--shadow_color);

  .header__theme-menu {
    align-self: self-start;
    justify-self: center;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
  }

  .content_section_why,
  .content_section_how {
    gap: 10px;
  }

  .content_text_block_what {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}